{% extends 'MMORPG/flatpages/default.html' %}
{% block title %}
Посты
{% endblock title %}

{% block content %}
    {% for post in posts %}
<div class="card border-dark mb-5 mt-4 mb-3 shadow bg-body rounded" style="max-width: 80rem;">
  <div class="card-body text-dark">
    <h5 class="card-title display-6 ">{{post.title}}</h5>
      <hr>
    <p class="card-text"><h5>{{post.text|truncatechars:128}}</h5></p>
  </div>
    <div class="card-header h6 bg-dark text-center text-light ">
        Автор: <font color="yellow">{{ post.author }} </font> --
        Дата создания: {{ post.date_creation|date:'d/m/Y' }} --
        Категория поста: {{ post.category }}
    </div>
</div>




    {% endfor %}
{% endblock content %}
