{% extends 'MMORPG/flatpages/default.html' %}

{% block title %}
Мои посты
{% endblock title %}

{% block content %}
<h2> Мои посты: </h2>

{% if messages %}
<div class="alert alert-success">
  {% for msg in messages%}
    {{msg}}
  {% endfor %}
</div>
{% endif %}

<div style="text-align:right">
    <a href="/posts/create" class="btn btn-secondary">Создать пост</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Название</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Редактировать</th>
      <th scope="col">Удалить </th>
    </tr>
  </thead>

  <tbody>
    {%for post in post_list%}
      {% if request.user == post.author %}
        <tr {% if post.id|slugify == request.GET.id %} style="background:yellow" {% endif%}>
          <td>{{post.id}}</td>
          <td><a href="{% url 'post_detail' post.id %}" style="text-decoration: none;"> {{post.title}} </a></td>
          <td>{{post.date_creation|date:'d.m.Y'}} - {{post.author}}</td>
          <td><a href="{%url 'post_update' post.id%}" class="btn btn btn-info">Редактировать</a></td>
          <td><a href="{%url 'post_delete' post.id%}" class="btn btn-warning">Удалить</a></td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}