{% extends 'MMORPG/flatpages/default.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}



{% block content %}
<title> Вход в аккаунт </title>
<div>
  <h1>{% trans "Вход" %}</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p style="width:200px; margin-left: auto; margin-right: auto; max-width: 200px">{% blocktrans with site.name as site_name %}Пожалуйста, войдите с помощью одной из ваших существующих
        сторонних учетных записей.Или <a href="{{ signup_url }}"> зарегистрируйте </a> учетную запись
        на {{ site_name }}, а так же войдите с помощью: {% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers" style="list-style-type: none;">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'или' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}Если вы еще не создали аккаунт, </br> тогда пожалуйста сначала
  <a href="{{ signup_url }}">зарегистрируйте</a> аккаунт.{% endblocktrans %}</p>
  {% endif %}

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
    <button class="btn btn-primary btn-lg" type="submit" >{% trans "Вход" %}</button>
  </form>
</div>


{% endblock %}
