{% extends 'MMORPG/flatpages/default.html' %}

{% load static %}
{% load i18n %}
{% block title %}
{% endblock title %}


{% block content %}
<head>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<div align="center">
    <h1>{% trans "Регистрация аккаунта" %}</h1>

    <p>{% blocktrans %}Уже есть аккаунт? Тогда пожалуйста <a href="{{ login_url }}">войдите</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-primary btn-lg">{% trans "Sign Up" %}</button>
    </form>
</div>

{% endblock %}
