{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MMORPG |{% block title %} {% endblock title %}</title>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>


<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center  justify-content-center justify-content-lg-start">
        <a href="/home/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-2">MMORPG</span>
      </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 fs-3">
          <li><a href="/home/" class="nav-link px-3 text-white">Главная</a></li>
          <li><a href="/posts/" class="nav-link px-3 text-white">Посты</a></li>
          <li><a href="/about/" class="nav-link px-3 text-white">О нас</a></li>
          <li><a href="#" class="nav-link px-3 text-white">Доп</a></li>
        </ul>

{% if request.user.is_authenticated %}
        <div class="nav col-12 mt-2 col-lg-auto me-lg-auto  justify-content-center ">
          <h2>{{request.user.email}}</h2>
        </div>
        <div class="text-end">
          <button onclick="window.location.href = '/accounts/logout/'" type="button" class="btn btn-warning">Выйти</button>
        </div>

{%else%}
        <div class="text-end">
          <button onclick="window.location.href = '/accounts/login/'" type="button" class="btn btn-outline-light me-2">Вход</button>
          <button onclick="window.location.href = '/accounts/signup/'" type="button" class="btn btn-warning">Регистрация</button>
        </div>

{%endif%}
      </div>
    </div>
</header>

<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
       {% block content %}
       {{ flatpage.content }}
       {% endblock content %}
      </div>
    </div>
  </div>
</body>
</html>
