{% extends 'MMORPG/flatpages/default.html' %}

<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

  <body>
    {% block title %}
      {{flatpage.title }}
    {% endblock title%}
    
    {% block content%}
      <hr>
        <font size="8" face="helvetica" >Ничего интересного здесь нет. Просто картинка из TES:ONLINE</font>
      <hr>

      <img src="https://www.igroshop.com/images/detailed/5/Summerset_sc6.jpg" width="100%">

      <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">

      <font size="8" face="helvetica" >Тут тоже ничего нет:)</font>
    {% endblock content %}
  </body>
</html>
